/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
header{
	background: #ff8523;
	border-width: 5px;
	border-color: #ffd24a ;
}

body {
	font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background: url(img/bg.jpg);
    
    
}

body > div {
	width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 1px;
	border: 1px solid #ffd24a
	color: #000000;

}


h2, h3 {
	color:#1fabe5;
}

ul {
	font-weight: bold;
}

thead {
	background-color: #1fabe5;
	color: white;
	border: 1px solid black ;

}

tbody{
	border: 1px solid #1fabe5;
	color: #000000;
}

tr{
	border: 1px solid black
}

#site_header{
	padding: 20px;
}

#logo{
	padding-top: 20px;
    text-align: center;
    color: #ff8523;
    margin-top: 5px;
    margin-bottom: 0.6em;
    font-size: 1em;
    text-transform: uppercase;
}

#page_content {
	padding: 10px;
	1px solid #ffd24a;
}
.main_navigation{
    padding-top: 50px;
    background-color: #ff8523;
}

.main_navigation a{
    padding: 0.5em 2em;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
}

.main_navigation a:hover{
    color: #1fabe5;
    background-color: #D1D67C;
}


.name {
	background-color: #ff8523;
	color: white;

}

.city-container {
	border: 1px solid #000000
}

.submit_container {
	border: 1px solid #000000
}
